################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

/TMapViews/.vs
/TMapViews/*/obj
/.vs
